/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  
    --ifm-color-primary: #03337c;
    --ifm-color-primary-dark: #032e70;
    --ifm-color-primary-darker: #032b69;
    --ifm-color-primary-darkest: #022457;
    --ifm-color-primary-light: #033888;
    --ifm-color-primary-lighter: #033b8f;
    --ifm-color-primary-lightest: #0442a1;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --bch-background-homepage: #F1F7FF;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #eaedff;
  --ifm-color-primary-dark: #c3cbff;
  --ifm-color-primary-darker: #aab7ff;
  --ifm-color-primary-darkest: #8d9dff;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --bch-background-homepage: #010917;
}

img[src*="#printscreen"] {

  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
}

iframe, object, embed {
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin: auto;
}

img[src*="#droite"] {
  float: right;
}

img[src*="#gauche"] {
  float: left;
  margin-right: 10px;
  
}

img[src*="#abc"] {
  margin-right: 10px;
  vertical-align: text-bottom;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  
}

p:has(img[src*="#centrer"]) {
  text-align: center;
}

h6 {
  text-align: right;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


.p-1 {
  padding: 0rem 0.25rem 0rem 0.25rem;
  color: var(--ifm-color-primary);
}

.cadre{
  border: 1px solid var(--ifm-color-primary);
  padding: 5px;
}

.marge{
  margin-top: 100px;
}

.homeSVG{
  width: 150px;
  height: 150px;
}

.text--justify {
hyphens : auto;
}

section.homepage{
  background-color: var(--bch-background-homepage);
}


h3.homepage, h4.homepage{color: var(--ifm-color-primary);
}

.tuile{
  margin:30px 10px;
  padding:20px;
  background-color: var(--ifm-card-background-color);
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 10px;
}

.vignettes-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.lancement{
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  width: 250px;
  text-align: center;
  margin: 0px 20px;
  border-radius: 10px;
  background-color: var(--ifm-card-background-color);
}

.footer--dark{
  background-color: #064CA3;
}

